<h1>Homepage</h1>
<p>Welcome to Rock, Paper, Scissors</p>
<p>If you've never played before, please click "Rules" below.
<br>Otherwise click "Play" to get started!</p>

<!-- <ul><a href="/play">Play</a></ul>
<ul><a href="/rules">Rules</a></ul> -->
