<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/style.css">

  <title>Rock, Paper, Scissors!</title>
</head>
<body>
  <nav>

  <%= yield %>
</body>
<footer>
  <ul><a href="/home">Home</a></ul>
  <ul><a href="/play">Play</a></ul>
  <ul><a href="/rules">Rules</a></ul>
</footer>
</html>
