<h1>Player 2, Your Turn!</h1>
<!-- Link for choice of 'rock' -->
<ul><a href="/play/paper/rock">Rock!</a></ul>
<!-- Link for choice of 'scissors' -->
<ul><a href="/play/paper/scissors">Scissors!</a></ul>
<!-- Link for choice of 'paper' -->
<ul><a href="/play/paper/paper">Paper!</a></ul>
