<h1>Player 1, Make Your Choice</h1>
<!-- Link for choice of 'rock' -->
<ul><a href="/play/rock">Rock!</a></ul>
<!-- Link for choice of 'scissors' -->
<ul><a href="/play/scissors">Scissors!</a></ul>
<!-- Link for choice of 'paper' -->
<ul><a href="/play/paper">Paper!</a></ul>
<br>
