<h1>Rules</h1>
<p>Rules Page</p>

<p>Rock, Paper, Scissors is a simple game for two people.<br>
Both players choose between rock, paper or scissors without<br>
telling their opponent. Both players then reveal their choice<br>
simultaneously, usually by counting down from three and<br>
using their hand to represent their choice. For example, a<br>
clenched fist could represent rock, or outstretched fingers<br>
could represent paper. The winner is decided by the following:<br>
<li>Rock beats Scissors</li><br>
<li>Scissors beats Paper</li><br>
<li>Paper beats Rock</li><br>
If both players make the same choice, then keep going until<br>
a winner is decided.</p>

<p>If you think you're ready, click on the "Play" button!</p>
